<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <appSettings>
      <add key="corePort" value="669" />
      <add key="coreHost" value="127.0.0.1" />
      <add key="authGuid" value="cfa12e66-7850-4d14-b72f-173327e4c8a7" />
    </appSettings>
</configuration>