@Styles.Render("~/Content/contactStyle")
@{
    ViewBag.Title = "Kontakt i FAQ";
}
@using SBA.BOL.Web.Models;
@model ContactModel


<div class="jumbotron jumbotron-fluid ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-lg-12">
				<h2 class="display-4"><strong>FAQ</strong></h2>
				<p class="lead"><small>Często zadawane pytania</small></p>
			</div>
		</div>
	</div>
</div>

<div id="faq-container" class="container-fluid">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Czym się zajmujemy?</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p><strong>Microsoft .NET</strong></p>
					<p>
						Specjalizujemy się w .NET. Nasze projekty są zgodne z wzorcem MVC (Model-Widok-Kontroler).
						Naszym priorytetem jest bezpieczeństwo naszych aplikacji, aby nikt z naszych zleceniodawców nie stał
						się ofiarą ataku hakerskiego. Design naszych programów jest nadzorowany przez speców w dziedzinie grafiki.
					</p>
					<p>
						Nasz wykwalifikowany personel programistów jest gotowy od zaraz do realizacji postawionych mu przez Ciebie
						zadań. Zatem nie zwlekaj i skontaktuj się z nami już dziś!
					</p>
					<hr>
					<p><strong>HTML5, CSS3, JavaScript, Ajax </strong></p>
					<p>
						Realizujemy projekty z zakresu Front-End / Back-End. Zleceniodawca ma wgląd do naszej pełnej dokumentacji, gdzie
						znajdzie zarówno wstępne założenia, proces jego realizacji i serwis. Z naszą firmą to naprawdę proste i przyjemne.
					</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Jaka jest lokalizacja firmy?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
					<address>
						<h3>WebCoding S.A.</h3>
						Białystok, Dojlidy <br>
						NIP: 984-00-99-777<br>
						<br>
						<abbr title="Telefon">T:</abbr>
						+48 777 999 777<br>
						<abbr title="E-mail">E:</abbr>
						<a href="mailto:#">biuro@webcodingsa.pl</a>
					</address>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. Jakie są ceny za konkretne usługi?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
				  <div>
					<p>
					  W tej branży ciężko jest określić stałą kwotę za usługę. Każda aplikacja jest indywidualna i w taki sposób też jest wyceniana. Na końcową
					  cenę wpływ ma wiele czynnikó, takich jak:
					</p>
					<ul>
					  <li>Złożoność projektu</li>
					  <li>Układ oraz projekt graficzny</li>
					  <li>Wykorzystywane technologie</li>
					</ul>
					<hr>
					<p>
					  Wykonujemy na zlecenie:
					</p>
					<ul>
					  <li>Strony internetowe</li>
					  <li>Sklepy internetowe</li>
					  <li>Aplikacje mobilne</li>
					  <li>Oprogramowanie specjalistyczne</li>
					  <li>Oprogramowanie dedykowane</li>
					</ul>
					<p>Za godzinę usługi programistycznej zapłacisz około 80zł.</p>
				  </div>
                </div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">4. Największe zrealizowane projekty?</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                      <div>
						<ul>
						  <li>
							<strong>Przewodnik po .NET</strong>
							<p>
								To aplikacja służąca do nauki programowania w języku C#. Zrealizowana dla osób chcących nauczyć się programowania. Autorskie 
								filmiki pokazują krok po kroku jak wygląda programowanie w C#. Opisy są bardzo szczegółowe i rzetelne, dzięki czemu użytkownik
								w szybki sposób zrozumie przekaz filmu.
							</p>
							<p>
							  Projekt został zrealizowany w ramach zajęć akademickich. Został przekazany dla UWB jako aplikacja naukowa dla studentów.
							</p>
						  </li>
						  <li>
							  <strong>TrainON</strong>
							  <p>
								  Aplikacja do zarządzania treningami zrealizowana w Android Studio. Program na urządzenia mobilne, dzięki któremu możemy 
								  planować swoje treningi oraz zapisywać osiągnięcia. Aplikacja posiadała również przypomnienia o dniu treningowym, jak również
								  motywowała do działania poprzez znane cytaty.
							  </p>
						  </li>
						  <li>
							  <strong>MineRed</strong>
							  <p>
								  Aplikacja służąca do zarządzania projektami. Dzięki niej grupa osób pracująca nad jednym zadaniem może w prosty sposób kontrolować
								  wzajemną pracę. Kierownik może sprawdzać to, jak przebiegają pracę i zlecać kolejne zadania dla swoich pracowników. 
							  </p>
						  </li>
						</ul>
					</div>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">5. Ile lat istniejemy na rynku?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
					<p>
						Istniejemy na rynku od <strong>2016 roku</strong>. 
					</p>
					<p>
						Wraz z kolegami podczas studiów postanowiliśmy założyć firmę i tak też sie stało. 
						Zrealizowaliśmy już wiele dużych projektów, które poprawiły zakres naszych umiejętności, a co najważniejsze dodały nam
						jakże cennego doświadczenia w branży. 
					</p>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">6. Jak wygląda proces rekrutacyjny?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                 <div>
					<p>W naszej firmie mamy do czynienia z 3 rodzajami rekrutacji.</p>
					<ol>
						<li><strong>Wewnętrzna</strong> - to wybór pracownika na nowe stanowisko spośród osób pracujących w naszej firmie.</li>
						<li><strong>Zewnętrzna</strong> - jest to wybranie kandydatów spośród osób spoza naszej firmy.</li>
						<li><strong>Mieszana</strong> - tutaj udział mogą wziąć zarówno osoby z firmy, jak i nowi kandydaci.</li>
					</ol>
					<hr>
					<p>
						Proces rekrutacji odbywa się w następujący sposób.
					</p>
					<ul>
						<li>
						<strong>1 etap</strong>
						<p>
							Kiedy nasza firma zadecyduje, że potrzebuje nowego pracownika, wówczas stara się ustalić zakres obowiązków
							dotyczących stanowiska. Po czym zamieszcza ogłoszenie z wymaganiami. 
						</p>
						</li>
						<li>
							<strong>2 etap</strong>
							<p>
							Zbieramy wszelkie CV, które zostają przesyłane na nasz adres e-mailowy. Zapoznajemy się z dokumentami i dokonujemy
							wstępnej selekcji.
							</p>
						</li>
						<li>
							<strong>3 etap</strong>
							<p>
							Proponujemy wykonanie jakiegoś prostego projektu, który będzie wykonany przez kandydata zdalnie. Kandydaci mogą również
							zostać poproszeni o przesłanie swoich projektów zawodowych, w celu zweryfikowania dodatkowych umiejętności.
							</p>
						</li>
						<li>
							<strong>4 etap</strong>
							<p>
							Jeśli zajdzie taka potrzeba, że po wykonaniu projektów dalej nie będzie tego jednego kandydata, który wybije się 
							poza innych, wówczas ma miejsce rozmowa telefoniczna z kandydatem. Osoby walczące o stanowisko mogą również zostać
							zaproszeni na rozmowę w siedzibie firmy.
							</p>
						</li>
						<li>
							<strong>5 etap</strong>
							<p>
							Tutaj zostaje wyłoniony ostateczny kandydat. Dochodzi do zatrudnienia i podpisania umowy.
							</p>
						</li>
					</ul>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">7. W jaki sposób mogę złożyć CV?</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
				  <p>
					<strong>CV</strong> możesz złożyć na 3 sposoby:
					<ul>
					  <li>
						<strong>E-mail</strong>
						<p>Możesz przesłać nam CV w formie elektronicznej na nasz adres e-mail.</p>
					  </li>
					  <li>
						<strong>OLX</strong>
						<p>Nasze ogłoszenia o pracę umieszczamy w aplikacji OLX. Możesz zatem przesłać nam swoje CV bezpośrednio w niniejszej aplikacji</p>
					  </li>
					  <li>
						<strong>Osobiste złożenie w siedzibie firmy</strong>
						<p>CV możesz również wydrukować i przynieść do naszej siedziby.</p>
					  </li>
					</ul>
				  </p>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">8. Czy są aktualne oferty pracy?</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                   <p>Aktualnie <strong>nie poszukujemy</strong> pracowników.</p>
				</div>
            </div>
        </div>
		<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">9. W jakich technologiach pisane są aplikacje?</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                   <div>
					  <p>
						Nasze projekty realizujemy w oparciu o <strong>Microsoft .NET</strong>. Korzystamy z całego "kalibry" Microsoftu. 
					  </p>
					  <p>
						Dodatkowo są to technologie typowe dla tworzenia stron internetowych, tj.: <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JavaScript</strong> i pochodne,
						<strong>Bootstrap</strong>, <strong>Mobile Query</strong>.
					  </p>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>

<div id="contact-container" class="spaceTop">
    <div class="jumbotron jumbotron-fluid ">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-lg-12">
					<h2 class="display-4"><strong>W czym możemy Ci pomóc?</strong></h2>
					<p class="lead"><small>Formularz kontaktowy</small></p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<div class="well">
					<form>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<label for="name">Imię i nazwisko *</label>
								<input type="text" class="form-control maxWidthForInput" id="name" name="name" required>
								<small id="nameHelp" class="form-text text-muted">Podaj prawdziwe dane osobowe.</small>
							</div>
							<div class="form-group">
								<label for="email">Email *</label>
								<input type="email" class="form-control maxWidthForInput" id="email" placeholder="name@example.com" required>
								<small id="emailHelp" class="form-text text-muted">Na ten adres odpowiemy na Twoją wiadomość.</small>
							</div>
							<div class="form-group">
								<label for="category">Kategoria *</label>
								<select id="category" name="category" class="form-control maxWidthForInput" required>
									<optgroup label="Wybierz kategorię wiadomości:">
										<option value="customer">Obsługa klienta</option>
										<option value="support">Problemy techniczne</option>
										<option value="invoice">Faktury i płatności</option>
										<option value="complaint">Reklamacje</option>
										<option value="other">Inne</option>
									</optgroup>
								</select>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group">
								<label for="subject">Temat *</label>
								<input type="text" class="form-control maxWidthForInput" name="subject" id="subject"  required>
							</div>
							<div class="form-group">
								<label for="message">Wiadomość *</label>
								<textarea name="message" id="message" class="form-control maxWidthForInput" rows="6"  placeholder="" required></textarea>
							</div>
							<button type="submit" class="btn btn-primary btn-block pull-right" id="btnContactUs">Wyślij wiadomość</button>
						</div>
					</div>
					</form>
				</div>
			</div>
			<div class="col-md-4">
				<form>
				<legend><span class="glyphicon glyphicon-globe"></span> Dane teleadresowe:</legend>
				<address>
					<h3>WebCoding S.A.</h3>
					Białystok, Dojlidy <br>
					NIP: 664-19-95-787<br>
					<br>
					<abbr title="Telefon">T:</abbr>
					+48 793 967 770<br>
					<abbr title="E-mail">E:</abbr>
					<a href="mailto:#">biuro@webcodingsa.pl</a>
				</address>
				</form>
			</div>
		</div>
	</div>
</div>