<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SBA.Client.Wpf.BOL.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SBA.Client.Wpf.BOL.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SBA.Client.Wpf.BOL.app>
            <setting name="coreHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="corePort" serializeAs="String">
                <value>669</value>
            </setting>
            <setting name="authGuid" serializeAs="String">
                <value>cd04d90c-ba26-463a-9f2e-40d3a3859487</value>
            </setting>
            <setting name="messagesApiPath" serializeAs="String">
                <value>api/client/messages/cd04d90c-ba26-463a-9f2e-40d3a3859487</value>
            </setting>
        </SBA.Client.Wpf.BOL.app>
    </applicationSettings>
    <userSettings>
        <SBA.Client.Wpf.BOL.app>
            <setting name="webBasePath" serializeAs="String">
                <value>https://localhost:44323/</value>
            </setting>
        </SBA.Client.Wpf.BOL.app>
    </userSettings>
</configuration>