<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SBA.Core.BOL.core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SBA.Core.BOL.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SBA.Core.BOL.Core" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SBA.Core.BOL.core>
            <setting name="SocketServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WebIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SocketServerPort" serializeAs="String">
                <value>669</value>
            </setting>
            <setting name="MaxConnectionsAllowed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogPathPattern" serializeAs="String">
                <value>D:\Projekty\SmartBusinessAssistant\Logs\Core\{0}\core.log</value>
            </setting>
            <setting name="CseEngineId" serializeAs="String">
                <value>005607192447384902306:qqcyt3itmec</value>
            </setting>
            <setting name="CseEngineApiKey" serializeAs="String">
                <value>AIzaSyDMMvG30YwPxuV6x8KucspB4Ga2mGlW4wY</value>
            </setting>
            <setting name="CseApiUrlPath" serializeAs="String">
                <value>https://www.googleapis.com/customsearch/v1?q={0}&amp;cx={1}&amp;key={2}</value>
            </setting>
            <setting name="CseCountResult" serializeAs="String">
                <value>100</value>
            </setting>
        </SBA.Core.BOL.core>
        <SBA.Core.BOL.Core>
            <setting name="SocketServerIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WebIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </SBA.Core.BOL.Core>
    </applicationSettings>
    <userSettings>
        <SBA.Core.BOL.Core>
            <setting name="SocketServerPort" serializeAs="String">
                <value>669</value>
            </setting>
        </SBA.Core.BOL.Core>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>